#Collectable {
    opacity: 0;
}

#Collectionsign {
    top: -50%;
    width: 50%;
    left: 25%;
    opacity: 1;
    animation-name: signdown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: paused;
}

@keyframes skullfade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#item-images {
    width: 107.5%;
    top: 0%;
    left: -3.5%;
    animation-name: skullfade;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}
